.mobile {
  h2 {
    span {
      color: #31b0d5;
    }

    color: #616161;
  }
  .body {
    padding: 50px 10px 20px 10px;
    .intro-text {
      color: #31b0d5;
      margin-bottom: 20px;
      font-size: 20px;
    }
    a {
      img {
        width: 60%;
      }
    }
  }
}