<div class="container-fluid chat-app">
  <div class="col-sm-3 user-list">
    <div class="header">
      <p class="text-center">Danh sách</p>
    </div>
    <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20">
      <div ng-repeat="user in users" class="user-row" id={{user.user_id}} ng-click="joinRoom($event, user)" ng-mouseover="showBlock = true" ng-init="showBlock=false" ng-mouseleave="showBlock = false">
        <img fallback-src="assets/images/default_user.jpg" ng-src={{user.avatar_url}} alt={{user.user_name}}>
        <span>{{user.user_name}}</span>
        <span class="badge" ng-show="user.noti_num > 0">{{user.noti_num}}</span>
        <span class="fa fa-ban" ng-click="blockUser($event, user.user_id)" ng-show="showBlock && !user.block" data-toggle="tooltip" data-placement="right" title="Chặn người này"></span>
        <span class="fa fa-ban text-danger" ng-click="blockUser($event, user.user_id)" ng-show="user.block" data-toggle="tooltip" data-placement="right" title="Bỏ chặn người này"></span>
      </div>
    </perfect-scrollbar>
  </div>

  <div class="col-sm-9 chat-wrapper">
    <div class="header">
      <div class="text-center">
        <a ng-href={{mainPage}}>
          <span>Y</span>meet.me
        </a>
      </div>
    </div>
    <perfect-scrollbar class="scroller row" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" data-content id="chatContent">
      <div ng-repeat-start="chat in chats" ng-class="chat.float_class" class="message-wrapper" id="chat-{{::$index}}" scroll-to-last="chat-{{::$index}}">
        <img ng-show="chat.avatar_url" fallback-src="/assets/images/default_user.jpg" ng-src={{chat.avatar_url}} alt={{chat.username}}><span class="message-border" ng-class="chat.float_class" ng-bind-html="chat.message | emoji"></span>
      </div>
      <div class="clearfix"></div>
      <img ng-show="chat.image_url" ng-src={{chat.image_url}} alt="image" class="message-image" ng-class="chat.float_class">
      <div ng-repeat-end class="clearfix"></div>
    </perfect-scrollbar>
    <div class="row chat-input">
      <div class="col-sm-10">
        <textarea class="form-control chat-message" ng-model="chatMessage" ng-keydown="$event.keyCode == 13 ? sendChatByKey($event) : null" placeholder="Nhập tin nhắn ..." autofocus>
        </textarea>
      </div>
      <div class="col-sm-2 btn-wrapper text-center">
        <span class="fa fa-smile-o" ng-click="showEmojiPopup()"></span>
        <span class="fa fa-paper-plane-o" ng-click="sendChat()"></span>
        <div class="emoji-popup" ng-show="emojiPopup">
          <i ng-repeat="icon in emojis" class="emoji emoji_{{icon}}" title=":{{icon}}:" ng-click="appendEmojiToMessage(icon)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
