<div class="container-fluid chat-app">
  <span us-spinner spinner-key="spinner-1"></span>
  <div class="col-sm-3 user-list" ng-include="'components/sidebar/sidebar.html'"></div>

  <div class="col-sm-9 chat-wrapper">
    <div class="header">
      <div class="text-center">
        <a ng-href={{mainPage}}>
          <span>Y</span>meet.me
        </a>
      </div>
    </div>
    <perfect-scrollbar class="scroller row" wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20" data-content id="chatContent" scroll-glue>
      <div ng-repeat-start="chat in chats" ng-class="chat.float_class" class="message-wrapper" id="chat-{{::$index}}" >
        <img ng-show="chat.avatar_url" fallback-src="/assets/images/default_user.jpg" ng-src={{chat.avatar_url}} alt={{chat.username}}><span class="message-border" ng-class="chat.float_class" ng-bind-html="chat.message | emoji"></span>
      </div>
      <div class="clearfix"></div>
      <img ng-show="chat.image_url" ng-src={{chat.image_url}} alt="image" class="message-image" ng-class="chat.float_class">
      <div ng-repeat-end class="clearfix"></div>
    </perfect-scrollbar>
    <div class="row chat-input">
      <div class="col-sm-10">
        <textarea class="form-control chat-message" ng-model="chatMessage" ng-keydown="$event.keyCode == 13 ? sendChatByKey($event) : null" placeholder="Nhập tin nhắn ..." auto-focus>
        </textarea>
      </div>
      <div class="col-sm-2 btn-wrapper text-center">
        <span class="fa fa-smile-o" id="showEmojiPopup" ng-click="showEmojiPopup()"></span>
        <span class="fa fa-paper-plane-o" ng-click="sendChat()"></span>
        <div class="emoji-popup" ng-show="emojiPopup" click-outside="emojiPopup=false" outside-if-not="showEmojiPopup">
          <i ng-repeat="icon in emojis" class="emoji emoji_{{icon}}" title=":{{icon}}:" ng-click="appendEmojiToMessage(icon)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
